{% extends 'layouts/index.twig' %}

{% use 'layouts/navbar.twig' %}
{% block content %}
	<h1 class="text-center">Evenements</h1>
	<br><br>

	<div class="container mt-3 pb-3">
		<div>
			<form action="/evenements" method="POST">
				<div class="input-group">
					<input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" required="required" name="searchTitle" aria-describedby="search-addon"/>
					<button name="btnSearchTitre" type="submit" class="btn btn-outline-primary">Rechercher</button>
				</div>
			</form>
		</div>
	</div>
	<br><br>

	<hr class="hr"/>
	<ul>
		{% for evenement in evenements %}
			<li class='text-primary'>{{ evenement.title }}</li>
			<li>{{ evenement.type }}</li>
			<li>{{ evenement.description }}</li>
			<li>
				{{ date_debut|date('Y/m/d H:i') }}
				-
				{{ date_fin|date('Y/m/d H:i') }}
			</li>
			<hr class="hr"/>
		{% endfor %}
	</ul>
{% endblock %}
