{% extends 'layouts/index.twig' %}

{% block content %}
	<nav class="navbar navbar-expand-lg bg-light">
		<div class="container-fluid">
			<a class="navbar-brand" href="#">Platau</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainavbar" aria-controls="mainavbar" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="mainavbar">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<li class="nav-item">
						<a class="nav-link active" aria-current="page" href="/home">Accueil</a>
					</li>
					<li class="nav-item">
						<a class="nav-link active" href="/notifications">Notifications</a>
					</li>
					<li class="nav-item">
						<a class="nav-link active" href="/evenements">Evenements</a>
					</li>
					<li class="nav-item">
						<a class="nav-link disabled" href="/dossiers">Dossiers</a>
					</li>
					<li class="nav-item">
                        <a class="nav-link active" href="/organisation">Organisation</a>
                    </li>
				</ul>
				<form class="d-flex" action="/logout" method="GET">
					<input type='submit' class="btn btn-outline-secondary rounded-pill" value="Se déconnecter">
				</form>
			</div>
		</div>
	</nav>
	<h1 class="text-center">Evenements</h1>
	<br><br>

	<div class="container mt-3 pb-3">
		<div>
			<form action="/evenements" method="POST">
				<div class="input-group">
					<input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" required="required" name="searchTitle" aria-describedby="search-addon"/>
					<button name="btnSearchTitre" type="submit" class="btn btn-outline-primary">Rechercher</button>
				</div>
			</form>
		</div>
	</div>
	<br><br>

	<hr class="hr"/>
	<ul>
		{% for evenement in evenements %}
			<li class='text-primary'>{{ evenement.title }}</li>
			<li>{{ evenement.type }}</li>
			<li>{{ evenement.description }}</li>
			<li>
				{{ date_debut|date('Y/m/d H:i') }}
				-
				{{ date_fin|date('Y/m/d H:i') }}
			</li>
			<hr class="hr"/>
		{% endfor %}
	</ul>
{% endblock %}
