{% extends 'index.twig' %}

{% block content %}
<div class="container mt-3">
  <h1 class="text-center mb-4">Bienvenue {{ user_profile.first_name }} !</h1>
  <div class="d-flex flex-wrap justify-content-center">
    <div class="col-lg-4 p-3">
      <a href="/notifications" class="btn border bg-light p-3 w-100">
        <p class="fs-5 fw-bold">Notifications</p>
        <span>Voir la liste de mes notifications</span>
      </a>
    </div>
    <div class="col-lg-4 p-3">
      <a href="/dossiers" class="btn border bg-light p-3 w-100">
        <p class="fs-5 fw-bold">Dossiers</p>
        <span>Voir la liste de mes dossiers</span>
      </a>
    </div>

    <h1>Notifications</h1>
      <ul>
        {% for notification in notifications %}
          <li>{{ notification.title }}</li>
          <li>{{ notification.message }}</li>
          <li>{{ notification.date_creation }}</li>
          <li>{{ notification.date_de_lecture }}</li>
          <li>{{ notification.utilisateur_concerne_id }}</li>
        {% endfor %}
      </ul>
  </div>
</div>
{% endblock %}