{% extends 'index.twig' %}

{% block content %}
    <h1>Notifications</h1>
    <ul>
        {% for notification in notifications %}
            <li>{{ notification.title }}</li>
            <li>{{ notification.message }}</li>
            <li>{{ notification.date_creation }}</li>
            <li>{{ notification.date_de_lecture }}</li>
            <li>{{ notification.utilisateur_concerne_id }}</li>
        {% endfor %}
    </ul>
{% endblock %}
